<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <title>Document</title>
    <link rel="icon" href="../images/favicon.ico" />
    <link
      rel="stylesheet"
      href="/main/css/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="/main/js/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <link
      rel="stylesheet"
      href="/main/css/dataTables.dataTables.css"
    />
    <script src="/main/js/dataTables.js"></script>
    <script src="/main/js/dataTables.checkboxes.min.js"></script>
    <link
      rel="stylesheet"
      href="/main/css/dataTables.checkboxes.min.css"
    />
    <!-- Vendors Style-->
    <link rel="stylesheet" href="/main/css/vendors_css.css" />

    <!-- Style-->
    <link rel="stylesheet" href="/main/css/style.css" />
    <link rel="stylesheet" href="/main/css/skin_color.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="theme-primary">
    <!-- <div id="loader"></div> -->
    {{ template "layouts/header" .}}
    <div class="main-container">
      <div class="sidebar-container">{{ template "layouts/sidebar" .}}</div>
      <div style="width: 100%;">{{ embed }}</div>
    </div>
  </body>

  <script src="/main/js/vendors.min.js"></script>
  <script src="/main/js/pages/chat-popup.js"></script>
  <!-- <script src="/assets/icons/feather-icons/feather.min.js"></script> -->
  <script src="/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
  <script src="/assets/vendor_components/datatable/datatables.min.js"></script>
  <script src="/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script src="/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
  <script src="/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
  <script src="/assets/vendor_components/select2/dist/js/select2.full.js"></script>
  <script src="/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
  <script src="/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
  <script src="/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
  <script src="/assets/vendor_components/moment/min/moment.min.js"></script>
  <script src="/assets/vendor_plugins/iCheck/icheck.min.js"></script>

  <script src="/main/js/template.js"></script>
  <script src="/main/js/pages/toastr.js"></script>
  <script src="/main/js/pages/notification.js"></script>
  <script src="/main/js/pages/data-table.js"></script>
  <script src="/main/js/pages/advanced-form-element.js"></script>
  <script src="/assets/vendor_plugins/iCheck/icheck.min.js"></script>
  <script>
    function showSuccess(message) {
      $.toast({
        heading: "Thành công",
        text: message,
        position: "top-right",
        loaderBg: "#ff6849",
        icon: "success",
        hideAfter: 3500,
        stack: 6,
      });
    }

    function showError(message) {
      $.toast({
        heading: "Đã xảy ra lỗi",
        text: message,
        position: "top-right",
        loaderBg: "#ff6849",
        icon: "error",
        hideAfter: 3500,
      });
    }
  </script>
</html>
