<div class="admin-container">
  <div class="admin-content">
    <a class="create" href="createRole">Thêm vai trò</a>
    <div style="margin: 20px 0">
      <table id="userTable" class="display">
        <thead>
          <th>STT</th>
          <th>Vai trò</th>
          <th>Action</th>
        </thead>
        <tbody>
          {{range .Roles}}
          <tr>
            <td>{{.RowNumber}}</td>
            <td>{{.RoleName}}</td>
            <td>
              <button class="update-btn" data-id="{{ID}}">Cập nhật</button>
              <a class="btn-danger delete-btn" data-id="{{ID}}">xóa</a> 
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <!-- <a href="/admin/">Quay lại</a> -->
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var table = $("#userTable").DataTable({
      aoColumnDefs: [
        {
          width: "3%",
          orderable: false,
          // targets: [0, 5],
        },
      ],

      order: [[0, "asc"]],

      language: {
        emptyTable: "Không có dữ liệu.",
        sLengthMenu: "Số bản ghi hiển thị trên 1 trang: _MENU_ ",
        sInfo: "Hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
        sSearch: "Tìm kiếm:",
        oPaginate: {
          sFirst: "Đầu",
          sPrevious: "Trước",
          sNext: "Tiếp",
          sLast: "Cuối",
        },
      },
      pageLength: 5,
    });

    $(document).on("click", ".update-btn", function () {
      let itemId = $(this).data("id");
      $.ajax({
        url: "/admin/account/role/" + itemId,
        type: "GET",
        data: JSON.stringify({ title: "Updated Title" }), // Example update data
        contentType: "application/json",
        success: function (response) {
          window.location.href = "/admin/account/role/" + itemId;
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.error("Update failed:", error);
        },
      });
    });

    // delete-btn
    $(document).on("click", ".delete-btn", function () {
      let itemId = $(this).data("id");

      $.ajax({
        url: "/admin/account/role" + itemId,
        type: "DELETE",
        success: function (response) {
          window.location.href = "/admin/account/role";
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.error("Delete failed:", error);
        },
      });
    });
  });
</script>
