<div class="admin-container">
  <div class="admin-content">
    <h1 class="title">{{.Title}}</h1>
    <form id="form">
      <div class="box-body">
        <div class="form-group">
          <label>Vai trò</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              value="{{.Role}}"
              type="text"
              id="role"
              name="role"
            />
          </div>
        </div>
        <div class="form-group">
          <label>Quyền hạn</label>
          <div class="input-group mb-3">
            {{range .Permission}}
            <div class="permission">
              <input
                type="checkbox"
                class="filled-in"
                id="{{.PermissionID}}"
                name="permission"
                value="{{.PermissionID}}"
                {{if isPermissionSelected $.PermissionID .PermissionID}}checked{{end}}
              />
              <label style="font-weight: normal" for="{{.PermissionID}}">{{.PermissionName}}</label> 
              <br>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-rounded btn-primary btn-outline">
          <i class="ti-save-alt"></i> Lưu
        </button>
      </div>
    </form>

  </div>
</div>

<script>
  $(document).ready(function () {
    const clearErrorMessage = () => {
      $(".role-error").text("");
      $(".permission-error").text("");
    };

    $("#form").on("submit", function (event) {
      event.preventDefault(); // Ngăn chặn hành động gửi mặc định của biểu mẫu

      // Lấy dữ liệu biểu mẫu
      var formData = $(this).serialize();
      $.ajax({
        // url: "/updateAccount/" + $('#accountID').val(),
        url: "/admin/account/updateRole/{{.id}}",
        method: "PUT",
        data: formData,
      })
        .done(function (response) {
          showSuccess("Cập nhật quyền thành công!");
          window.location.href = "/admin/account/role";
          console.log("Success:", response);
          console.log(formData)
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
          // This function runs if the request fails
          showError("Cập nhật quyền thất bại!");
          console.log("Request failed:", textStatus);
          console.error("Error:", errorThrown);
          console.log(jqXHR);
          clearErrorMessage();
          let responseJSON = jqXHR.responseJSON;
          // $(".username-error").text(responseJSON.NameError);
          // $(".email-error").text(responseJSON.EmailError);
          // $(".phone-error").text(responseJSON.PhoneError);
          // $(".address-error").text(responseJSON.AddressError);
        });
    });
  });
</script>
<!-- <script>
    // get informations
    const nameInput = document.querySelector("input[name='username']");
    const passwordInput = document.querySelector("input[name='password']");
    const emailInput = document.querySelector("input[name='email']");
    const phoneInput = document.querySelector("input[name='phone']");
    const addressInput = document.querySelector("input[name='address']");

    const usernameError = document.querySelector(".username-error");
    const passwordError = document.querySelector(".password-error");
    const emailError = document.querySelector(".email-error");
    const addressError = document.querySelector(".address-error");
    const phoneError = document.querySelector(".phone-error");

    const sendMessageBtn = document.querySelector("button[type=submit]");

    const clearErrorMessage = () => {
      usernameError.textContent = "";
      passwordError.textContent = "";
      emailError.textContent = "";
      phoneError.textContent = "";
      addressError.textContent = "";
    };

    const validationEmailError = (email) => {
      if (email.trim() === "") {
        emailError.textContent = "Email is required!";
        // alert("Please enter a valid email address")
        return false;
      } else {
        var regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (regexEmail.test(email.trim())) {
          return true;
        } else {
          emailError.innerHTML = "Email is not valid!";
          return false;
        }
      }
    };

    const validationPhoneNumberError = (phone) => {
      if (phone.trim() === "") {
        phoneError.textContent = "Phone is required!";
        return false;
      } else {
        var regex = /^0\d{9}$/;
        if (regex.test(phoneInput.value)) {
          return true;
        } else {
          phoneError.innerHTML = "Please enter a valid phone number!";
          return false;
        }
      }
    };

    const validationPasswordError = (password) => {
      if (password.trim() === "") {
        passwordError.innerHTML = "Password is required!";
        return false;
      } else if (password.trim().length < 8 || password.trim().length > 20) {
        console.log("Á");
        passwordError.innerHTML =
          "Password must be between 8 and 20 characters!";
        return false;
      }
      return true;
    };

    const validationAddressError = (address) => {
      if (address.trim() === "") {
        addressError.innerHTML = "Address is required!";
        return false;
      }
      return true;
    };

    const validationUserName = (username) => {
      if (username.trim().length < 8 || username.trim().length > 30) {
        usernameError.innerHTML =
          "Username must be between 8 and 30 characters!";
        return false;
      }
      return true;
    };

    sendMessageBtn.onclick = function (e) {
      e.preventDefault(); // Ngăn submit
      clearErrorMessage();

      if (
        ( validationUserName(nameInput.value) +
        validationEmailError(emailInput.value) +
        validationPhoneNumberError(phoneInput.value) +
        validationPasswordError(passwordInput.value) +
        validationAddressError(addressInput.value) ) 
        == 5
      ){
        document.getElementById("form").submit();
      }
    };
  </script> -->
