:root {
  --border-color: #ccc;
  --text-color: #353738;
  --primary-color-hover: #1e8e3e;
  --primary-color: #28af4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-container {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid var(--border-color);
  height: 64px;
  font-size: 20px;
}

.left-header,
.right-header {
  display: flex;
  gap: 15px;
}

.left-header a i {
  padding-right: 10px;
}

.left-header a:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.right-header i:hover {
  color: var(--primary-color-hover);
  cursor: pointer;
}
.sidebar-container {
  padding: 5px 0;
  width: 20%;
  height: 100vh;
  border-right: 1px solid var(--border-color);
}

.sidebar-content .sidebar-item {
  padding: 10px 0;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-content .sidebar-item:hover {
  background: #faf6f6;
  cursor: pointer;
}


.bd-t {
  border-top: 1px solid var(--border-color);
}

.table {
  margin: 20px 0;
}

#userTable {
  width: 100%;
  margin: 20px 0;
}

.selectedRow {
  background-color: azure !important;
}

.admin-container {
  padding: 10px 20px;
}

.admin-container .admin-content {
  padding: 20px;
}

.title {
  font-size: 2.5rem; margin-bottom: 9px;
  margin-left: 15px;
}

.account {
  position: relative;
}

.inf-user {
  display: none;
  position: absolute;
  top: 64px;
  right: 0px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inf-user p {
  padding: 8px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.inf-user .action {
  display: flex;
  flex-direction: column;
}

.inf-user .action a {
  padding: 8px 10px;
}

.inf-user .action a:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.inf-user-display {
  display: block;
}

.create, .update-btn {
  padding: 8px 15px;
  background: var(--primary-color);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
}

.create {
  margin: 23px;
}

.create:hover, .update-btn:hover {
  color: #fff !important;
  background: var(--primary-color-hover);
}

#frm-example {
  margin-top: 20px;
}

.topleft {
  top: 50px !important;
  left: -100px !important;
}

.image {
  position: relative;
}

.course-image {
  border-radius: 6px;
  border: 1px solid transparent;
  width: 100%;
}

.text-image {
  position: absolute;
  bottom: 0px;
  color: white;
 
  margin: 20px;

}

.noti:hover {
  color: #333434 !important;
  cursor: pointer;
}

.setting-btn {
  background-color:#fff;
  border: transparent;
  border-radius: 6px;
  padding: 10px 15px;
  font-weight: 500;
  color: #188fb7;
}

.setting-btn:focus {
  outline: none;
}

.nav-link {
  background-color: transparent !important;
}

.nav-active {
  border-bottom: 2px solid #0052cc !important;

}