:root {
  --border-color: #ccc;
  --text-color: #3c4043;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

a {
  color: #5f6368;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-container {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid var(--border-color);
  height: 64px;
  font-size: 20px;  
}

.left-header, 
.right-header {
  display: flex;
  gap: 15px;
}

.left-header a i {
  padding-right: 10px;
}

.left-header a:hover {
  color: #1e8e3e;
  text-decoration: underline;
}

.right-header i:hover{
  color: #1e8e3e;
  cursor: pointer;
}
.sidebar-container {
  padding: 5px 0;
  width: 20%;
  height: 100vh;
  border-right: 1px solid var(--border-color);
}

.sidebar-content .sidebar-item {
  padding: 10px 30px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-content .sidebar-item:hover {
  background: #faf6f6;
  cursor: pointer;
}

.active {
  background: #faf6f6;
}

.bd-t {
  border-top: 1px solid var(--border-color);
}

.selectedRow {
  background-color: azure !important;
}